<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://static-cdn.jtvnw.net/jtv_user_pictures/451dd285-491d-49e0-b1e0-20147f3ab56b-profile_image-70x70.png" type="image/png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500">
  <link rel="stylesheet" href="./styles.css">
  <title>Autenticado</title>
</head>
  <body>
    <div class='container'>
      <header class="header">
        <a href="../../"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/451dd285-491d-49e0-b1e0-20147f3ab56b-profile_image-300x300.png" class="image" alt="Logo da página" alt="home"></a>
        <nav class="navigation">
          <a href="../../"><img class="icons" src="./../../images/home.svg" alt="home"></a> 
          <a href="https://twitch.tv/c4ldas" target="_blank"><img class="icons" src="./../../images/twitch.svg"></a> 
          <a href="https://youtube.com/c4ldas" target="_blank"><img class="icons" src="./../../images/youtube.svg" alt="youtube"></a> 
          <a href="https://instagram.com/c4ldas" target="_blank"><img class="icons" src="./../../images/instagram.svg" alt="instagram"></a> 
          <a href="https://github.com/c4ldas" target="_blank"><img class="icons" src="./../../images/github.svg" alt="github"></a> 
        </nav>
      </header>
      <main class="main">
      <h1>Autenticado!</h1>
      <h3 style="color:red;">- Não deixe esse comando visível e dê permissão apenas para moderadores, caso contrário outros podem abrir e fechar apostas.<br/>
- Use o dashboard do Streamelements para criar os comandos.<br/>
- Não crie o comando diretamente pelo chat para não expor seu code!</h3>

        
      <button id="remove-integration" style="color:red;">Remover integração</button>

      <!-- pop-up dialog box, containing a form -->
      <dialog id="dialog" class="dialog">
        <div id="dialog-title">  
          Tem certeza que deseja remover a integração?<br/>          
          Você pode refazer a integração a qualquer momento no futuro.
        </div>
        <div id="dialog-buttons">
          <button id="submit" type="submit">Confirmar</button>
          <button id="cancel" type="reset">Cancel</button>
        </div>
      </dialog>
        
      <h2>Code:</h2>
      <details>
        <summary>Mostrar Code:</summary>
        <div class="code blue"><%= code %></div>
      </details>   
      
      
      <h2>Comando para criar palpite/aposta:</h2>      
      <details>
        <summary>Mostrar Comando:</summary>
        <div class="code">.me ${sender} ► ${customapi.<wbr>https://repl.c4ldas.com.br<wbr>/api<wbr>/twitch<wbr>/prediction<wbr>/create/<wbr><%= code %><wbr>/?channel=${channel}<wbr>&option1=${1}<wbr>&option2=${2}<wbr>&question=${queryescape ${3:|Quem ganha esse mapa?}}}</div>
      </details>  

      <h2>Comando para fechar palpite/aposta:</h2>
      <details>
        <summary>Mostrar Comando:</summary>
        <div class="code">.me ${sender} ► ${customapi.<wbr>https://repl.c4ldas.com.br<wbr>/api<wbr>/twitch<wbr>/prediction<wbr>/close/<wbr><%= code %><wbr>/?channel=${channel}<wbr>&winner=${1}}</div>
      </details>  

      <h2>Comando para cancelar palpite/aposta:</h2>
      <details>
        <summary>Mostrar Comando:</summary>
        <div class="code">.me ${sender} ► ${customapi.<wbr>https://repl.c4ldas.com.br<wbr>/api<wbr>/twitch<wbr>/prediction<wbr>/cancel/<wbr><%= code %><wbr>/?channel=${channel}}</div>
      </details>  
      <div><br/>
        <h2>Como usar:</h2>
        <p>- Criar aposta/palpite ("pergunta" é opcional, caso não tenha, a pergunta será "<strong>Quem ganha esse mapa?</strong>"). Opção1 e opção2 só devem ter uma única palavra cada:</p>
        <p class="code">!palpite opção1 opção2 pergunta</p>
        <p>- Fechar aposta/palpite com a escolha da opção vencedora</p> 
        <p class="code">!vencedor opção</p>
        <p>- Fechar aposta com a escolha da opção vencedora</p> 
        <p class="code">!cancelarpalpite</p>
      </div>
      </main>
      <footer class="footer">
        <nav class="navigation">
          <a href="#"
            ><img class="icons" src="/images/home.svg" alt="home"
          /></a>
          <a href="https://twitch.tv/c4ldas" target="_blank"
            ><img class="icons" src="/images/twitch.svg" alt="twitch"
          /></a>
          <a href="https://youtube.com/c4ldas" target="_blank"
            ><img class="icons" src="/images/youtube.svg" alt="youtube"
          /></a>
          <a href="https://instagram.com/c4ldas" target="_blank"
            ><img class="icons" src="/images/instagram.svg" alt="instagram"
          /></a>
          <a href="https://github.com/c4ldas" target="_blank"
            ><img class="icons" src="/images/github.svg" alt="github"
          /></a>
        </nav>
        <div class="privacy">
          <a href="/privacy.html">Privacy Policy</a>
        </div>
      </footer>
    </div>
    <script>
      const button = document.querySelector("#remove-integration");
      const dialog = document.querySelector("#dialog");
      const submit = document.querySelector("#submit");
      const cancel = document.querySelector("#cancel");
      
      button.addEventListener("click", (e) => {
        dialog.showModal();
      })

     // dialog.addEventListener("click", (e) => {
     //   const xClick = e.clientX;
     //   const yClick = e.clientY;
     //   
     //   const left = dialog.offsetLeft;
     //   const right = dialog.offsetLeft + dialog.clientWidth;
     //   const top = dialog.offsetTop;
     //   const bottom = dialog.offsetTop + dialog.clientHeight;
     //   if( (xClick < left || xClick > right) || (yClick < top || yClick > bottom) ){
     //     dialog.close();
     //   }
     // })

      cancel.addEventListener("click", (e) => {
        dialog.close();
      })

      submit.addEventListener("click", async (e) => {
        e.preventDefault();
        const user_key = "<%= user_key %>";
        const code = "<%= code %>";
        const dialogTitle = document.querySelector("#dialog-title");
        const dialogButtons = document.querySelector("#dialog-buttons");

        dialogTitle.innerText = "Removendo integração, por favor aguarde!";
        dialogButtons.style.display = "none";
        
        const request = await fetch("/api/twitch/logout", {
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": JSON.stringify({ user_key, code })
        });
        const response = await request.json();

        if(response.status == "success"){
          dialog.classList.add("success");
          dialogTitle.innerText = `${response.message}. Redirecionando para página inicial...`;
          setTimeout( () => {
            window.location.assign("/api/twitch");
          }, 3000);
          
        } else {
          dialog.classList.add("fail");
          dialogTitle.innerText = `${response.message}.`;
          setTimeout( () => {
            window.location.reload();
          }, 2500);
        }
      });
    </script>
  </body>
</html>



